@page
@model Emotify.Pages.Servers.Enroll

@{
    ViewData["Title"] = "Enroll";
}

<h1>Enroll</h1>

<form method="post">
    <div class="d-flex flex-wrap col-md-12">
        @foreach (var guild in Model.Guilds)
        {
            <div class="col-md-4">
                <div class="m-2 p-2 bg-primary">
                    <image class="guild-image" src="@guild.IconUrl"></image>
                    <span>@guild.Name</span>
                </div>
            </div>
        }
     </div>
</form>