@page "{searchString?}"
@model Emotify.Pages.Servers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Servers</h1>

<p>
    <a asp-page="Enroll">Enroll a server</a>
</p>
<div class="col-md-6">
    <form>
        <div class="form-group my-2">
            <label class="form-label" asp-for="Search"></label>
            <input class="form-control" asp-for="Search" />
        </div>
    </form>
</div>
<hr />

<partial name="_GuildItemScripts"></partial>

<details open>
    <summary>
        <h2>My Guilds</h2>

    </summary>
    <div class="d-flex flex-wrap">
        @foreach (var item in Model.MyGuilds)
        {
            <partial name="_GuildItem" model="@item"></partial>
        }
    </div>
</details>