@using Emotify.Models
@inject SignInManager<EmotifyUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" navigation-active-for="./Index" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link" navigation-active-for="./Email" id="email" asp-page="./Email">Email</a></li>
    @* <li class="nav-item"><a class="nav-link" navigation-active-for="./Discord" id="discord" asp-page="./Discord">Discord</a></li> *@
    <li class="nav-item"><a class="nav-link" navigation-active-for="./ChangePassword;./SetPassword" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link" navigation-active-for="./ExternalLogins" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link" navigation-active-for="./TwoFactorAuthentication;./EnableAuthenticator;./Disable2fa;./GenerateRecoveryCodes;./ResetAuthenticator" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link" navigation-active-for="./PersonalData;./DeletePersonalData;./DownloadPersonalData" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
