@model Discord.IGuild

<div class="guild-card m-2">
    <div class="guild-name p-2 bg-primary">
        <div class="pointer bg-primary"></div>
        @* <input type="checkbox" class="form-check-input" name="SelectedEmoteIds" value="@Model.Id" /> *@
        <span>@Html.DisplayFor(model => Model.Name)</span>
    </div>
    <image class="guild-image" src="@Model.IconUrl" aria-label="Emote image"
           draggable="false" ondragstart="event.preventDefault()">
    </image>
</div>