@page
@using Emotify.Services
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    if (Model.user == null)
    {
        <h1>Please log in.</h1>
    }
    else
    {
        <a class="m-2 btn btn-primary" href="@Model.EnrollUrl" target="_blank">Enroll a server</a>

        <div class="d-flex col-12">
            <div class="col-6">
                <h1>Emotes</h1>
                <div class="d-flex flex-wrap">
                    @foreach (var emote in Model.Emotes)
                    {
                        <partial name="_EmoteItem" model="@emote"/>
                    }
                </div>
            </div>
            <div class="col-6">
                <h1>Servers</h1>
                <div class="d-flex flex-wrap">
                    @foreach (var guild in Model.Guilds)
                    {
                        <partial name="_GuildItem" model="@guild"/>
                    }
                </div>
            </div>
        </div>
    }
}