/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */
a {
    /* color: #0366d6; */
    color: rgb(0, 175, 244);
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Random Trash */
details > summary::-webkit-details-marker {
    display:none;
}
details > summary {
    list-style: none;
}

/* Emote upload */
#emote-upload, #emote-upload > .dz-image-preview {
    background: transparent;
}

/* Emote image */

.emote-card {
    width: 40px;
    position: relative;
}

.emote-image {
    width: 100%;
}

.emote-name {
    min-width: 120px;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    z-index: 10;
}

.emote-name > .pointer {
    position:absolute;
    height: 20px;
    width: 20px;
    right: 100%;
    margin-right: -15px;
    top: 50%;
    margin-top: -10px;
    z-index: -1;
    border-left-width: 5px;
    transform:rotate(45deg);
    pointer-events: none;
}

.emote-card:hover .emote-name {
    display: block;
}

.section-header {
    flex-basis: 100%;
}

/* Guilds */

.guild-card {
    width: 100px;
    position: relative;
}

.guild-image {
    width: 100%;
    border-radius: 50%;
}

.guild-name {
    /*height: 40px;*/
    /*width:  150px;*/
    min-width: 120px;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: none;
    z-index: 10;
}

.guild-name > span {
    /*display:block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*overflow-wrap: anywhere;*/
}

.guild-name > .pointer {
    position:absolute;
    height: 20px;
    width: 20px;
    right: 100%;
    margin-right: -15px;
    top: 50%;
    margin-top: -10px;
    z-index: -1;
    border-left-width: 5px;
    transform:rotate(45deg);
    pointer-events: none;
}

.guild-card:hover .guild-name {
    display: block;
}