@page
@model Emotify.Pages.Emotes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Emote</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmoteResponse.Name" class="control-label"></label>
                <input asp-for="EmoteResponse.Name" class="form-control" />
                <span asp-validation-for="EmoteResponse.Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label class="control-label" asp-for="EmoteResponse.File"></label>
                <input class="form-control" asp-for="EmoteResponse.File">
                <span class="text-danger" asp-validation-for="EmoteResponse.File"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
