@page "{id:int?}"
@using Emotify.Pages.Emotes;
@model Emotify.Pages.Emotes.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <partial name="_Details" model="@Model.Emote"></partial>
</div>
<div>
    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Model.Emote.Id">Edit</a>
    <a class="btn btn-primary ms-2" asp-page="./Index">Back to List</a>
</div>
